body {
  background-color: white;
  /* background-image: linear-gradient(180deg, #F2FBFF 0, #D3F3FE 25%, #AEE7F5 50%, #83D1DE 75%, #83D1DE 100%);
  background-repeat: no-repeat;
    background-attachment: fixed;  */
  font-family: "Ubuntu", serif !important;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #efefef;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #328B8E;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #efefef;  /* creates padding around scroll thumb */
}

.editWrap{
max-width: 90%;
margin:0 auto;
}

.mainWrap{
max-width: 90%;
margin:0 auto;
padding-left: 5%;
padding-right: 5%;
}
.navSectores{
  padding-top: 24px;
max-width: 91.5%;
margin:0 auto;
/* padding-left: 5%;
padding-right: 5%; */
}
.MuiTypography-root {
  font-family: "Ubuntu", serif !important;
}

#chatContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bienvenida-bot {
  margin-top: 8px;
}

.leaflet-container {
  /* width: 100vw;
  height: 100vh; */
  height: 880px;
  width: 100%;
  margin-top: 3rem;
  margin-left: 4rem;
  padding: 1rem 0 1rem 1rem;
  border: 2px solid black;
  border-radius: 20px;
}

.leaflet-control {
  float: right;
  clear: both;
}

.leaflet-left {
  right: 0;
}

.leaflet-top {
  bottom: 0;
  top: 85%;
}

.leaflet-left .leaflet-control {
  margin-right: 10px;
  margin-bottom: 20px;
}
.classLink {
  text-decoration: none;
}

Layout {
  position: absolute;
  top: 0;
}

.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}
form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

input,
select {
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  border: 2px solid;
  border-color: #65a0d0;
  background-color: #ffffff;
  border-radius: 10px;
  outline: none;
}

input:focus,
select:focus {
  border-color: #4299e1;
}

input::placeholder,
select::placeholder {
  color: #a0aec0;
}

/* input[type="checkbox"] {
  width: fit-content;
  margin-right: 0.5rem;
  transform: scale(1.25);
} */

button {
  display: block;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
  background-color: #ffffff;
  color: #1a202c;
  border: 1px solid;
  border-color: #65a0d0;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

input.input-error,
select.input-error {
  border-color: #fc8181;
}

button:disabled {
  opacity: 0.35;
}

.form-register {
  max-width: 100%;
  width: 100%;
}

form label {
  margin: 0;
}

/* FORM NORMALES */
.css-1chamcn-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px !important;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

/* FORM DE DESCRIPCION */
.css-d067fc-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px !important;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

/* FORM DE SELECTS */
.css-fn1odq-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 10px !important;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

/* ESTILIZANDO EL INPUT FILE */

.css-2ehmn7-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px !important;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

.contenedorHover {
  height: 100%;
  padding: 1rem;

  /* width: 33%; */
  /* max-width: 33%; */
 
}

.contenedorHover:hover {
  transform: translateY(-4px);
  /* box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.6); */
}
.imagenCardContainer {
  height: 35% !important;
  width: 100%;
  display: flex;
  justify-content: center;
}
.imagenCard {
 max-width: 100%;
  height: 100%;
  scale: 85%;
}
.contenedorTitle {
  font-weight: bolder;
  font-size: 1.4em;
  height: 50%;
  /* margin-top: 0.5rem; */
 
}
.buttonAction {
  height: 20%;
}

.headerImageView {
  width: 100%;
  height: 20rem;
}
.imagenLogoView {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 16rem;
  border-radius: 100px;
  padding: 1rem;
}
.button {
  display: inline-block;
  padding: 8px 19px !;
  font-size: 14px;
  cursor: pointer;
  color: white;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #328B8E;
  border: none;
  border-radius: 14px;
  box-shadow: 7px 7px black;
  padding: 1rem;
  text-transform: capitalize;
}

.button:active {
  background-color: #83D1DE;
  box-shadow: 4 5px black;
  transform: translateY(4px);
}
.buttonCard{
  min-width: 64px;
  
  display: inline-block;
  padding: 8px;
  font-size: 0.8125rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  font-weight: 500;
  cursor: pointer;
  color: white;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #328B8E;
  border: none;
  border-radius: 12px;
  box-shadow: 5px 5px black;
  text-transform: capitalize;
}
.buttonCard:active{
  background-color: #83D1DE;
  box-shadow: 4 5px black;
  transform: translateY(4px);
}
.active {
  /* background-color: rgb(201, 199, 199); */
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0px 0 #328B8E;
}

main {
  margin-top: 2rem;
}

.titulo-registro {
  margin-left: 12%;
}

.pregunta-bot {
  margin-left: 8px;
  padding: 16px;
  border-radius: 10px;
  background-color: #CBF3FD;
  display: inline-block;
}

.respuesta-bot {
  margin-left: 8px;
  padding: 16px;
  border-radius: 10px;
  background-color: #D1FEBE;
  display: inline;
  justify-content: end;
  align-items: end;
  float: right;
}


.edit-logo{
  border:1px solid grey;
  border-radius: 5px;
}

.linea-v {
  border-left: 3px solid grey;
  height: 90%;
  margin-top: 30%;
  border-radius: 3px;

}

.titulos-form-datos{
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate3d(-50%,0,0);
  padding: 0 40px;
  margin: 0 auto;
  z-index: 10;
  background-color: white;
}

.titulos-form-imagenes{
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  top: -3%;
  left: 50%;
  transform: translate3d(-50%,25%,0);
  padding: 0 40px;
  margin: 0 auto;
  z-index: 10;
  background-color: white;
}

.titulos-form-direccion{
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  white-space: nowrap;
  position: absolute;
  top: -3%;
  left: 50%;
  transform: translate3d(-50%,0,0);
  padding: 0 40px;
  margin: 0 auto;
  z-index: 10;
  background-color: white;
}
.css-hhnrze-MuiTypography-root {
  font-family: 'Ubuntu', Times, serif !important;
}

.splide__slide img {
  max-width: 1566px;
  max-height: 593px;
  width: 97%;
  height: 100%;
  
}
div.splide__track{
  margin: 0 auto;
  width: 100%;
}
.carruselContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: -1.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding-left: 20px;
 
}
.splide__arrow--prev{
  left: 2em !important;

}
.splide__arrow--next{
  right: 3em !important;
}
.valoraciones{
  padding-right: 4rem;
  padding-top: 3rem;
}

.direccion{
  display: flex;
  margin-right: 82%;
  margin-bottom: 16px;

}

.texto-exito{
  color:green;
  /* margin-top: 32px; */
}

.edit-imagen{
  border: 1px solid grey;
  border-radius: 20px;
  position: relative;

}

.map-move{
  position: "fixed"; 
  top:0;
  zIndex:"100";
}

.MuiTypography-root::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.MuiTypography-root::-webkit-scrollbar-track {
  background: #EAEEEF; 
  border-radius: 20px;        /* color of the tracking area */
}

.MuiTypography-root::-webkit-scrollbar-thumb {
  background-color: #328B8E;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #EAEEEF;  /* creates padding around scroll thumb */
}

div::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: #efefef;        /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color: #ffee8c ;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #efefef;  /* creates padding around scroll thumb */
}

.chart-container{
  
  margin-top: 5%;
}

.button-material-hover:active{
  background-color: #83D1DE;
  box-shadow: 4 5px black;
  transform: translateY(4px);
}


.spanValoraciones{
  width: 100%;
  color: red;
}

.errorMessage{
  color:red;
  font-size: 16px;
  margin-top:8px
}

.leaflet-popup-content-wrapper{
 background-image: linear-gradient(180deg, #CAD3D4 0, #CAD3D4 25%, #DAE0E2 50%, #EAEEEF 75%, #FAFCFC 100%) !important;
}

.tutorial{
  font-size: 14px;
  color:grey;
font-style: italic;
}

.swal2-title{
  margin-bottom: 48px;
}

div:where(.swal2-container) .swal2-html-container {
  text-align: start !important;

}