body{
  background-color: #efefef !important;
  font-family: 'Alice', serif!important;
  margin:0 auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* flex-wrap: wrap; */

}
.MuiTypography-root{
  font-family: 'Alice', serif!important;

}

#chatContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start

}

.bienvenida-bot{
  margin-top:8px;
}
  
.leaflet-container{
  /* width: 100vw;
  height: 100vh; */
  height:715px;
  width:100%;
  margin-top: 3rem;
  margin-left:5rem;
  padding:1rem;
  border: 2px solid black;
  border-radius: 20px;
}

.leaflet-control {
  float: right;
  clear: both;
}

.leaflet-left {
  right: 0;
}

.leaflet-top {
  bottom: 0;
  top: 85%;
}

.leaflet-left .leaflet-control {
  margin-right: 10px;
  margin-bottom: 20px;
}
.classLink{
  text-decoration: none;
}

Layout{
  position: absolute;
  top: 0;
}


.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}
form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

input,
select {
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  border: 2px solid;
  border-color: #65a0d0;
  background-color: #ffffff;
  border-radius: 10px;
  outline: none;
}

input:focus,
select:focus {
  border-color: #4299e1;
}

input::placeholder,
select::placeholder {
  color: #a0aec0;
}

/* input[type="checkbox"] {
  width: fit-content;
  margin-right: 0.5rem;
  transform: scale(1.25);
} */

button {
  display: block;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
  background-color: #ffffff;
  color: #1a202c;
  border: 1px solid;
  border-color: #65a0d0;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

input.input-error,
select.input-error {
  border-color: #fc8181;
}

button:disabled {
  opacity: 0.35;
}

.form-register{
  max-width: 100%;
}

form label{
  margin:0;
}

/* FORM NORMALES */
.css-1chamcn-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 10px!important;
  box-shadow: 0 0 15px 4px
  rgba(0,0,0,0.1);
}

/* FORM DE DESCRIPCION */
.css-d067fc-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px!important;
  box-shadow: 0 0 15px 4px
  rgba(0,0,0,0.1);
}

/* FORM DE SELECTS */
.css-fn1odq-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  border-radius: 10px!important;
  box-shadow: 0 0 15px 4px
  rgba(0,0,0,0.1);
}

/* ESTILIZANDO EL INPUT FILE */

.css-2ehmn7-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px!important;
  box-shadow: 0 0 15px 4px
  rgba(0,0,0,0.1);
}


.contenedorHover{
  height: 100%;
  padding:1rem;
}

.contenedorHover:hover{
  transform: translateY(-3px);
	box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.6);
}
.imagenCard{
  height: 35% !important;
}
.contenedorTitle{
  font-weight: bolder;
	font-size: 1.4em;
  height: 45%;
  margin-top: 1rem;
}
.buttonAction{
  height:20% ;
}
.headerImageView{
  width: 100%;
  height: 20rem;
}
.imagenLogoView{
  width: 10%;
  height: 10%;
  position:absolute;
  top:16rem;
  border-radius: 100px;
  padding: 1rem;
}
.button {
  display: inline-block;
  padding: 8px 19px !;
  font-size: 14px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #4B4844;
  background-color: #FFEE8C;
  border: none;
  border-radius: 14px;
  box-shadow: 0 9px black;
  padding: 1rem;
  text-transform: capitalize;
}

.button:active {
  background-color: #FFEE8C;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.active{
  /* background-color: rgb(201, 199, 199); */
  border:0.1rem solid rgba(0,0,0,0.2) ;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px 0 black;
}


main{
  margin-top: 2rem;
}

.titulo-registro{
  margin-left:12%;
}

.pregunta-bot{
  margin-left: 8px; 
  border:1px solid grey;
  padding:8px;
  border-radius: 10px;
  background-color:#00bb2d;
  display: inline-block;
}

.respuesta-bot{
  margin-left: 8px;
  border:1px solid grey;
  padding:8px;
  border-radius: 10px;
  background-color:#c1eaba;
  display: inline;
  justify-content: end;
  align-items: end;
  float: right;
}
